<section data-ng-controller="BuildsController" data-ng-init="findGit()">
    <div class="page-header">
        <h1>New Build</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="version">version</label>
                    <div class="controls">
                        <input type="text" data-ng-model="version" id="version" class="form-control" placeholder="version" required>
                    </div>
                    <div class="controls">
                        <input type="text" data-ng-model="tc_artifacts" id="tc_artifacts" class="form-control" placeholder="tc_artifacts" required>
                    </div>
                    <div class="controls">
                        <input type="text" data-ng-model="devnotes" id="devnotes" class="form-control" placeholder="devnotes" required>
                    </div>
                    <div class="controls" ng-repeat="git in builds.gits">
                      <div class="col-md-4">
                        {{git.branch}}
                      </div>


                      <div class="col-md-8">
                        <select name="project_branches[git.branch].selected" ng-init="(project_branches[git.branch].selected = getDefaultPeg(git.branch)) && (project_branches[git.branch].name = git.branch) && (project_branches[git.branch].pegged = getDefaultPeg(git.branch))" data-ng-model="project_branches[git.branch].selected" ng-options="name for name in git.names"></select>
                        {{BranchSelection[git.branch].selected}}
                      </div>


                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
      				<div data-ng-show="error" class="text-danger">
      					<strong data-ng-bind="error"></strong>
      				</div>
            </fieldset>


        </form>

    </div>
</section>
